<script src="https://unpkg.com/vue@3"></script>

<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<script type="module">

    import {createApp} from 'vue';

let app = createApp({
    delimiters: ['${', '}'],
    data() {
        return {
            step: 1,
            files: [],
            files_pdf: [],
            id_project: {{project.id}},
            title: "{{ project.title }}",
            description: `{% autoescape off %}{{ project.description }}{% endautoescape %}`,
            status: "{{ project.status }}",
            scoreG: 0,
            scoreI: 0,
            scoreF: 0,
            scoreT: 0,
        }
    },
    created() {
        this.getScores();
    },
    mounted() {
        this.setDescription();

    },
    computed: {
        isFilesGallery() {
            let files = this.files.filter(i => i.type_file !== 'pdf' && !i.delete)
            return files.length > 0;
        },
        isEditable() {
            console.log(this.status)
            return !(this.status === 'send' || this.status === 'qualified')
        },
        style_score () {
            if(this.scoreG >= 4) {
                return '#4caf50'
            }

            if(this.scoreG >= 3) {
                return '#ffc107'
            }

            return '#ff5252'
        }
    },
    methods: {
        getScores() {
            let vm = this;
            fetch(
                "{% url 'evaluator:get_scores' project.id %}"
            ).then(response => {
                if (response.status === 200) {
                    response.json()
                        .catch(error => console.log(error))
                        .then(response => {
                            vm.scoreG = response.score_g;
                        });
                } else {
                    response.json()
                        .catch(error => console.log(error))
                        .then(response => {
                            console.error(response)
                            createToast(response.message, 'error')
                        });
                }

            })
        },
        setScore(score, item_id, extra = null){
            let vm = this;
            if(extra && extra === "general") {
                vm.scoreG = score;
            }

            fetch("{% url 'evaluator:get_questions_project' 0 %}", {
                method: "put",
                body: JSON.stringify({
                    'score': score,
                    'id_project': vm.id_project,
                }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
                }
            }).then(response => {
                if (response.status === 200) {
                    response.json()
                        .catch(error => console.log(error))
                        .then(response => {
                            if (response.message) {
                                createToast(response.message, response.alert)

                                vm.getScores()
                            }
                        });
                } else {
                    response.json()
                        .catch(error => console.log(error))
                        .then(response => {
                            createToast(response.message, 'error')
                        });
                }

            })

        },
        setDescription() {
            if ($('#description').length) {
                CKEDITOR.replace('description');
                CKEDITOR.instances['description'].setData(`${this.description}`);
            }
        },

        showSectionFiles() {
            let vm = this;
            fetch(
                "{% url 'projects:get_file' project.id %}"
            ).then(response => {
                if (response.status === 200) {
                    response.json()
                        .catch(error => console.log(error))
                        .then(response => {
                            console.log(response)
                            vm.files = response['files']
                            vm.renderFiles(response['files'])
                        });
                } else {
                    response.json()
                        .catch(error => console.log(error))
                        .then(response => {
                            console.error(response)
                            createToast(response.message, 'error')
                        });
                }

            })
        },
        renderFiles(files) {
            let html_input = "";
            let html_wrap = "";
            let html_thumbnails = "";
            let style = "";
            for(let i = 0; i<files.length; i++) {
                if (files[i]['type_file'] === 'pdf') continue
                html_input += `
                    <input type="radio" id="image${i+1}" name="gallery-control" ${i === 0 ? 'checked': '' }>
                `;

                html_wrap += `
                    <figure>
                        <label for="fullscreen">
                            <img src="${files[i]['file']}" alt="image${i+1}"/>
                        </label>
                    </figure>
                `;

                html_thumbnails += `
                    <label for="image${i+1}"
                           class="thumb"
                           style="background-image: url('${files[i]['file']}')"></label>
                `;

                style += `
                    .gallery input#image${i + 1}:checked ~ .wrap figure {
                        -webkit-transform: translateX(-${i}00%);
                        transform: translateX(-${i}00%);
                    }
                    .gallery input#image${i + 1}:checked ~ .wrap figure:not(:nth-of-type(${i + 1})) {
                        opacity: 0;
                    }
                    .gallery input#image${i + 1}:checked ~ .thumbnails .slider {
                        -webkit-transform: translateY(${i}00%);
                        transform: translateY(${i}00%);
                    }
                    .gallery input#image${i + 1}:checked ~ .thumbnails .thumb:nth-of-type(${i + 1}) {
                        opacity: 1;
                        cursor: default;
                    }
                `;


            }
            document.head.insertAdjacentHTML("beforeend", `<style>${style}</style>`)
            let carousel = document.getElementById('carousel');

            carousel.innerHTML = `
                ${html_input}
                <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control"/>
                <div class="wrap">${html_wrap}</div>
                <div class="thumbnails">
                    <div class="slider">
                        <div class="indicator"></div>
                    </div>
                    ${html_thumbnails}
                </div>
            `;

        },
    }
})

app.mount('#v-app')

</script>